* {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Segoe UI', 'JetBrainsMono NFP';
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding: 0 8px;
  margin: 0;
  background-color: rgba(25, 25, 25, 0.3);
}
.widget {
  padding: 0 8px;
  margin: 0;
}
.widget .label {
  padding: 0px 2px 2px 2px;
}
.widget .label.alt {
  padding: 1px 8px 1px 8px;
}
.apps-widget {
  padding: 0;
}
.apps-widget .widget-container {
  background-color: transparent;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0px 2px 1px 2px;
  margin: 0 8px;
}
.apps-widget .label:hover {
  color: #fff;
}
.active-window-widget .icon {
  padding: 0 0 0 0;
}
/* ACTIVE WINDOW WIDGET */
.active-window-widget .label {
  font-weight: 800;
  margin: 0;
}

/* WEATHER WIDGET */
.weather-widget .icon {
  font-size: 16px;
  margin: 0 2px 1px 0;
}
.weather-widget .icon.sunnyDay {
  color: white;
}
.weather-widget .icon.clearNight {
  color: white;
  font-size: 22px;
  margin: 1px 2px 0px 0;
}

/* MEDIA WIDGET */

.media-widget .label {
  color: #bac2db;
  padding: 0px;
  padding-right: 4px;
  font-size: 12px;
}
.media-widget .btn {
  padding: 0 4px;
  margin-right: 5px;
}
.media-widget .btn:hover {
  color: #babfd3;
}
.media-widget .btn.play {
  font-size: 16px;
}
.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: rgba(36, 36, 36, 0.604);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
.media-menu .artist {
  font-size: 13px;
  color: #6c7086;
  margin-top: 0px;
  margin-bottom: 8px;
}
.media-menu .source {
  font-size: 12px;
  color: #000;
  font-weight: normal;
  border-radius: 3px;
  background-color: #bac2de;
  padding: 2px 4px;
  margin-top: 10px;
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.spotify {
  background-color: #199143;
  color: #ffffff;
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #ffffff;
}

.media-menu .btn {
  font-size: 18px;
  margin: 10px 2px 0px 2px;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  border-radius: 8px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: #babfd3;
  background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: #4e525c;
  background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
  font-size: 13px;
  color: white;
  margin-top: 20px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

/* HOME MENU */

.home-widget {
  padding: 0;
}
.home-widget .icon:hover {
  color: #babfd3;
}
.home-menu {
  background-color: rgba(36, 36, 36, 0.604);
}
.home-menu .menu-item {
  padding: 8px 48px 9px 16px;
  font-size: 12px;
  font-family: 'Segoe UI';
  color: white;
  font-weight: 600;
}
.home-menu .menu-item:hover {
  background-color: rgba(157, 180, 141, 0.116);
  color: #fff;
}
.home-menu .separator {
  max-height: 1px;
  background-color: rgba(157, 180, 141, 0.116);
}

/* VOLUME WIDGET */

.volume-widget {
  margin-top: 2px;
}
.volume-widget .label {
  font-size: 16px;
}
.volume-slider {
  border: none;
}
.audio-menu {
  background-color: rgba(17, 17, 27, 0.4);
}
.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}
.audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

/*CLOCK - CALENDAR WIDGET DROPDOWN*/

.calendar {
  background-color: rgba(36, 36, 36, 0.604);
  padding: 10px 25px 10px 0px;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: white;
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  background-color: #babfd3;
  color: #153647;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: 'Segoe UI';
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}
.calendar .month-label {
  font-weight: normal;
}
.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

/*TOOLTIPS*/

QToolTip {
  padding: 4px;
  color: white;
  font-size: 12px;
  background-color: rgb(36, 36, 36);
}
